<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Contatos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Últimas conversas</ion-list-header>
    <button ion-item *ngFor="let chat of contacts" (click)="openChat(chat.id)">
        <ion-avatar item-start style="max-width:32px; max-height:32px">
            <img src="assets/images/user.png">
        </ion-avatar>
        <h2>{{chat.contact.name}}</h2>
        <p *ngIf="chat.messages.length > 0">{{ chat.messages[chat.messages.length - 1].body }}</p>
        <div class="button-effect"></div>
    </button>
  </ion-list>
</ion-content>
