<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
    <ion-list>
        <div class="message" ion-item *ngFor="let message of messages">
          <span *ngIf="message.sender_id == myId" class="sent">{{message.body}}</span>
          <span *ngIf="message.receiver_id == myId" class="received">{{message.body}}</span>
        </div>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <form (ngSubmit)="sendMessage(); message.reset()" #message>
        <ion-input textarea cols="30" wrap="hard" [(ngModel)]="body" name="body" class="txt-message" placeholder="Escreva sua mensagem...">
        </ion-input>
        <button ion-button class="btn-send" type="submit">Enviar</button>
      </form>
    </ion-toolbar>
</ion-footer>
